<!DOCTYPE html>
<html>
  <body>
  <h1>Welcome to the official website for KIT! (K International School Information Technology)</h1>
    <p> KIT is a organization formed by group of students that provide IT services with free of charge at KIST. It will act as MYP service for G6-G8 students (hereinafter referred to as KIT Jr. members), and act as CAS project for G9-G12 (KIT members). </p>
    <h2>Activity Content</h2>
    <h3>KIT Jr.</h3>
  <ol>
      <li><span data-contrast="none">Production of promotional videos, etc. at the request of teachers </span><span data-contrast="none" xml:lang="EN-US" lang="EN-US">in</span><span data-contrast="none"> school</span><span data-contrast="none" xml:lang="EN-US" lang="EN-US"> as a wider community</span><span data-contrast="none">.</span></li>
      <li><span data-contrast="none">Production of promotional videos, etc. at the request of the school office</span><span data-contrast="none" xml:lang="EN-US" lang="EN-US"> as a wider community</span></li>
      <li><span data-contrast="none">Production of slideshow videos and etc. by collaborating with other CAS communities</span><span data-contrast="none" xml:lang="EN-US" lang="EN-US"> as a wider community</span><span data-contrast="none">.</span><span data-contrast="none" xml:lang="EN-US" lang="EN-US"> (e.g. we are editing SRC morning announcement video every week for more than one month straight now)</span></li>
      <li><span data-contrast="none"> </span><span data-contrast="none" xml:lang="EN-US" lang="EN-US">By extension, </span><span data-contrast="none">Service activities such as creating free PR posters and videos at the request of </span><span data-contrast="none" xml:lang="EN-US" lang="EN-US">local </span><span data-contrast="none">residents</span><span data-contrast="none" xml:lang="EN-US" lang="EN-US"> as a wider community</span><span data-contrast="none">.</span></li>
  </ol>
  <h3>KIT</h3>
  <ol>
    <li><span data-contrast="none" xml:lang="EN-US" lang="EN-US"> Learning programming integrated within engineering.</span></li>
    <li><span data-contrast="none" xml:lang="EN-US" lang="EN-US">Development</span><span data-contrast="none"> </span><span data-contrast="none" xml:lang="EN-US" lang="EN-US">and creation of useful machine utilizing acquired technological and engineering skills.</span></li>
    <li> As a new challenge from now on, implementation of creative development of engineering within the local society or even a wider community (e.g. a trash compactor that meets several SDGs) </li>
  </ol>
</body>
</html>