<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  
  <title>KIT Official Website</title>
  
  <link rel="icon" type="image/x-icon" href="/images/Favicon.png">

  <link rel="stylesheet" type="text/css" href="/css/home.css">
  
</head>
<body>
  <%= yield %>
</body>
</html>