<form action="/signin" method="post">
  <input type="text" name="mail" placeholder="Email"><br>
  <input type="password" name="password" placeholder="Password"><br>
  <input type="submit" value="Sign In"><br>
</form>