<div class="header">
    <img src="/images/kitlogo.jpg" alt="KIT logo" style="width:75px;height:75px; display: inline-block;">
    <div class="header-right">
      <a style="display: inline-block;" href="/">Home</a>
      <% unless session[:user] %>
        <li style="list-style: none; display: inline-block;"><a href="/signin">Sign In<span class="sr-only"></span></a></li>
        <li class="active" style="list-style: none; display: inline-block;"><a href="/signup">Sign Up</a></li>
      <% else %>
        <li style="list-style: none; display: inline-block;">Hello, <%= current_user.mail %>!</li>
        <li style="list-style: none; display: inline-block;"><a href="/signout">Log Out</a></li>
      <% end %>
    </div>
</div>

<form action="/signup" method="post">
  <input type="text" name="mail" placeholder="Email"><br>
  <input type="password" name="password" placeholder="Password"><br>
  <input type="password" name="password_confirmation" placeholder="Confirm Password">
  <input type="submit" value="Sign Up">
</form>

<!--<style>-->
<!--  a signup-highlight {-->
<!--    color:#fff;-->
<!--    display: inline-block;-->
<!--    padding: 10px;-->
<!--  }-->
<!--</style>-->